[Desktop Entry]
Type=Application
Exec=rockmarble
Name=rockmarble
Name[x-test]=xxrockmarblexx
GenericName=Artist tour dates tracker
GenericName[x-test]=xxArtist tour dates trackerxx
Comment=rockmarble - follow your favourite artist all around the world!
Comment[x-test]=xxrockmarble - follow your favourite artist all around the world!xx
Icon=rockmarble
Terminal=false
Categories=Network;Qt;News;
X-DocPath=rockmarble/index.html
